
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }
.bg {
    /* The image used */
    
  
    /* Full height */
   
    opacity: 90%;
    filter: grayscale(1);
  
    /* Center and scale the image nicely */
    
    position: relative;
  }
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 100vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .text-below{
    padding-top: 4rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }
    .navbar{
      position: fixed;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    .navbar-brand{
      margin-left: 3rem;
     
     
    }
    .toggleak{
      margin-right: 20px;
    }
    .logodiv{
      width: 50%;
    }
   

/* About section ----------------------------------------------------------- */

  .about{
    background-color: 	#181818;
    padding-top: 3rem;
    padding-bottom: 2rem;

  }
  .about_me{
    text-align: center;
    color: white;
    padding-top: 8rem;
    font-family: 'Oswald', sans-serif;
  }
 .about_para{
    color: 	#E2DFD2	;
    padding-top: 5rem;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 2.1rem;

 }
 .text-center{
  padding-top: 2rem;
 }
 .btn{
  background-color: 	#F28C28;
  color: white;
  padding:1.2rem 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  width: 22rem;
 }
 .btn:hover{
  text-decoration: none;
  color: white;
  background-color: 	#F28C28;
 }
 
 /* Some Projects section ------------------------------------------------ */
 .projects{
  background-color:	#181818 ;
  padding-top: 13rem;

 }
/* 
.imagecc{
  margin-bottom: 3rem;
} */

.carousel{
 
  margin-top: 3rem;
  margin-left: 8rem;
  margin-right: 5rem;
  
}
/* Contact US section--------------------------------------------- */
.contact-us{
  background-color:	#181818 ;
  padding-top: 13rem;
}
.cnt{
  text-align: center;
    color: white;
    padding-top: 8rem;
    font-family: sans-serif;
}
.details{
  color: 	#E2DFD2;
  padding-top: 5rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2rem;
}
.container{
  
  width: 50%;
}
.form-group{
  padding: 1rem 0.8rem;
  
}
.lb{
  padding-bottom: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
}
.form-control{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
  font-size: 1.5rem;
  
}
#message-btn{
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  color: white;
  
}
#sendlb2{
  padding:1.2rem 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  width: 12rem;
}
/* ------media query  */
@media(max-width:998px) {
  html{
    font-size: 75%;
  }
}
@media(max-width:400px) {
  html{
    font-size: 40%;
  }
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-top: 2.5rem;
  }
}
@media(max-width:768px) {
  html{
    font-size: 55%;
  }
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
  }

  /* .text h1{
    position: absolute;
    top: 40%;
    font-size: 0.5rem;
    color: red;
  } */
}
.carousel-cell{
  width: 100%;
}
@media( min-width: 768px ) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 60%; }
}

